
@use 'reset/base';
@use 'reset/typography';
@use 'reset/forms';
@use 'reset/media';
@use 'reset/elements';

.blurry {
    background: rgba(255, 255, 255, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}