  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="logo-ionic"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="people">
      <ion-icon name="people"></ion-icon>
      Users
    </ion-tab-button>
    <ion-tab-button tab="wifi">
      <ion-icon name="wifi"></ion-icon>
      Hotspot
    </ion-tab-button>
    <ion-tab-button tab="setting">
      <ion-icon name="settings"></ion-icon>
      Settings
    </ion-tab-button>
    <ion-tab-button tab="wallet">
      <ion-icon name="wallet"></ion-icon>
      Wallet
    </ion-tab-button>
  </ion-tab-bar>